################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Booki/.vs/Booki/v17
/Booki/Booki/obj
